<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyp.farmcalender">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="登录"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="注册"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".MainActivity"
            android:label="主界面"></activity>

        <activity
            android:name=".ui.activity.AddScheduleAtivity"
            android:label="添加记录" />
        <activity
            android:name=".ui.activity.ScheduleTypeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.ScheduleInfoActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.ScheduleAllActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.CalendarConvertActivity"
            android:label="日期转换" />

        <activity
            android:name=".ui.activity.BoardDetailActivity"
            android:theme="@style/ActionBarTheme"
            android:label="所有回答"/>
        <activity
            android:name=".ui.activity.AddMessagesActivity"
            android:theme="@style/ActionBarMessageTheme"
            android:label="我来发表"/>

        <activity
            android:name=".ui.activity.PublishedMessageActivity"
            android:theme="@style/ActionBarTheme"
            android:label="已发表的留言" />
        <activity
            android:name=".ui.activity.ShowPerInfoActivity"
            android:theme="@style/ActionBarTheme"
            android:label="个人信息" />
        <activity
            android:name=".ui.activity.ModifyPerInfoActivity"
            android:theme="@style/ActionBarTheme"
            android:label="修改个人信息" />

        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:theme="@style/ActionBarTheme"
            android:label="忘记密码" />
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:theme="@style/ActionBarTheme"
            android:label="修改密码" />


    </application>

</manifest>
